$colorOfFont : #fff;
$fontOfWelcome: 'Raleway', sans-serif;
$btnBorder : 3px solid rgba(0, 0, 0, 0.7);
$brownCol : #a16a38;
$greenCol : #719274;
$whiteCol : rgba(255, 255, 255, 0.85);
$bccCol : #040404;

////////////////////////////////////////////////////////////////

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/hilborn/Hilborn4.otf") format("opentype");
}
*{
  cursor: default;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $bccCol;
  color: $colorOfFont;
  font-family: 'Sorts Mill Goudy',sans-serif;
}
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
a{
  color: $colorOfFont;
  text-decoration: none;
  transition: all 0.5s ease;
  opacity: 70%;
}
a:hover{
  color: $colorOfFont;
  opacity: 100%;
}
.btnTop{
  transition: all 1s ease;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  align-items: center;
  text-align: center;
  z-index: 99;
  color: $colorOfFont;
  background-color: rgba($brownCol, 0.6);
  font-size: 25px;
}
.btnTop::after{
  content: "\f077";
  font-family: FontAwesome;
}
.show{
  display: inline-block;
}
.btn:hover{
  color: $brownCol;
}
h1{
  font-size: 5.7em;
  font-weight: 900;
  color: $greenCol;
  letter-spacing: 0.3em;
}
h2{
  font-weight: 900;
  color: $brownCol;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
h3{
  color: $greenCol;
  font-size: 3em;
  letter-spacing: 4px;
  word-spacing: 5px;
  margin-bottom: 25px;
  line-height: 1em;
}
p{
  font-size: 2em;
  letter-spacing: 3px;
  padding: 0;
  margin: 0;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.show{
  display: block;
}
.btn{
  color: $brownCol;
  font-size: 2em;
  padding: 5px 20px;
  :hover{
    padding: 5px 20px;
    box-shadow: 0 0 15px $brownCol;
    border-radius: 3px;
    box-shadow: inset 0 0 5px $brownCol;
  }
}

////////////////////////////////////////////////////////////////

.header{
  .nav{
    text-transform: uppercase;
    color: $colorOfFont;
    background-color: $bccCol;
    padding: 2em 0 0.8em 0;
    ul{
      font-size: 1.2em;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      list-style: none;
      li{
        padding-left: 1.85em;
      }
      li:first-child{
        padding: 0;
      }
    }
    li.logoLi{
      position: relative;
      margin: -15px 0 0 0;
    }
  }
  .logo{
    font-weight: bold;
    font-size: 1.8em;
    color: $brownCol;
  }
}

////////////////////////////////////////////////////////////////

.header .offer{
  padding: 7em 0;
  margin: 0 0 70px 0;
  background: url('../img/background40.jpeg') no-repeat center top;
  background-size: cover;
  h1{
    text-align: center;
    line-height: 1.8em;
    font-family: $fontOfWelcome;
    text-shadow: 2px 2px 0 $brownCol;
    text-shadow: -2px -2px 0 $brownCol;
    text-shadow: 2px -2px 0 $brownCol;
    text-shadow: -2px 2px 0 $brownCol;
  }
  h2{
    font-size: 2em;
    font-weight: 500;
    color: $greenCol;
    font-family: $fontOfWelcome;
    text-shadow: 1px 1px 0 #000;
    text-shadow: -1px -1px 0 #000;
    text-shadow: 1px -1px 0 #000;
    text-shadow: -1px 1px 0 #000;
  }
  p{
    font-size: 1.8em;
    text-align: center;
    line-height: 1.8em;
    letter-spacing: 0.2em;
    font-weight: lighter;
  }
  .container{
    text-align: center;
    margin: 0 auto;
    p{
      color: $whiteCol;
      font-weight: normal;
      margin: 30px 0;
    }
  }
}

////////////////////////////////////////////////////////////////

.main{
  .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0 150px 0;
    .left{
      width: 50%;
      text-align: center;
      img{
        transition: all 1.2s ease;
        opacity: 65%;
      }
      img:hover{
        opacity: 100%;
        transform: rotate(190deg);
      }
    }
    .right{
      width: 45%;
      margin: 0 auto;
      p{
        color: $whiteCol;
        font-size: 1.4em;
        line-height: 1.8em;
      }
    }
  }
  .row>*{
    padding-left: 0;
    padding-right: 0;
  }
  .row{
    align-items: center;
    display: flex;
    padding-bottom: 50px;
    .col-2, .col-3{
      img{
        width: 100%;
      }
      .firstColImg{
        margin-bottom: 20px;
      }
    }
  }

  ////////////////////////////////////////////////////////////////

  .part1{
    .container{
      padding-top: 40px;
    }
  }

  ////////////////////////////////////////////////////////////////

  .part2{
    cursor: pointer;
    .row{
      padding: 0;
      margin: 30px 0 120px 0;
    }
  }

  ////////////////////////////////////////////////////////////////

  .part3{
    padding-top: 8px;
    text-align: center;
    p{
      font-size: 1.2em;
    }
    .number{
      color: $brownCol;
      font-size: 5em;
    }
    h4{
      font-size: 2.6em;
      margin-bottom: 10px;
    }
    .container{
      .row{
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .col-4{
          width: 30%;
        }
      }
    }
    .container:first-child .row{
      padding-bottom: 50px;
    }
    .container:first-child{
      padding-bottom: 0;
    }
  }

  ////////////////////////////////////////////////////////////////

  .part4{
    align-items: center;
    .container{
      .row{
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
      }
    }
    ul{
      color: $brownCol;
      font-size: 1.8em;
      line-height: 2em;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    iframe{
      width: 100%;
    }
  }

  ////////////////////////////////////////////////////////////////

  .part5{
    padding: 50px 0;
    .container{
      display: block;
      padding-top: 0;
      .col-sm-10{
        font-size: 1.2em;
        width: 100%;
      }
      .col-form-label{
        margin: 10px 0;
        font-size: 2em;
        width: 100%!important;
      }
    }
    .row{
      padding: 10px 5px;
    }
    .formInMain{
      border: 2px solid $brownCol;
      box-shadow: 0 0 15px $brownCol;
      border-radius: 3px;
      box-shadow: inset 0 0 5px $brownCol;
      padding: 10px 70px 50px 70px;

      width: 60%;
      margin: 0 auto;
      .alert-added{
        display: none;
      }
      fieldset.row.mb-3{
        margin: 10px 0 20px 0;
      }
      textarea{
        resize: none;
      }
      input[type="radio"]{
        background-color: $greenCol;
      }
      .btn{
        margin-top: 20px;
        text-align: center;
        align-items: center;
        vertical-align: middle;
      }
    }
    h3{
      color: $brownCol;
      font-weight: bold;
      margin: 40px;
      font-size: 2.5em;
      text-align: center;
    }
  }
}

////////////////////////////////////////////////////////////////

.footer{
  .container-fluid{
    padding-top: 30px;
  }
  .logo{
    text-align: center;
    font-size: 2.3em;
  }
  ul{
    list-style: none;
    li{
      margin-top: 20px;
    }
  }
  a{
    font-size: 1.2em;
  }
}


@media screen and (max-width: 850px) {
  #brick{
    display: none;
  }
}
